<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="lab3.css">
    </head>

    <body>
        <h1>ECE 140 Winter Lab 3</h1>
        <form action="show_users" method="GET">
            <button type="submit">Show Users</button>
        </form>
        <form action="show_tello_moves" method="GET">
            <button type="submit">Show Tello History</button>
        </form>
    </body>
</html>