<!DOCTYPE html>
<html>
    <head>
        <title>Users</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="lab3.css">
    </head>

    <body>
        <h1>Users</h1>
        
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Username</th>
                    <th>Password</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.row}}</td>
                    <td>{{user.firstName}}</td>
                    <td>{{user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.userName}}</td>
                    <td>{{user.pwd}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="http://localhost:6543/add_user_page" >add a user<a>
            <form action="http://localhost:6543/edit_user_page" method="GET">
                <label>input row # to edit</label>
                <input type="number" name="row_number">
                <button type="submit">submit row #</button>
            </form>
        </div>
    </body>
    
</html>